<li class="list-group-item">
    <p class="col">{{burger_name}}</p>
    <div>
        {{#if devoured}} <button class="devouredOrNot btn btn-secondary" data-id="{{this.id}}" data-devour="{{this.devoured}}">DEVOUR!</button> {{else}}<p class= "col" data-devour="{{devoured}}">That was great!</p>{{/if}}
    </div>
</li>